.forms_section{
    padding: 100px 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #495057;
    font-size: 13px;
    background: transparent;
    margin-left: 0px;
}

textarea:focus,
input:focus{
    outline: 0;
}

.box{
    display: flex;
    justify-content: space-between;
}

.half-rows{
    box-sizing: border-box;
}

.first_name{
    flex: 1;
    padding-right: 0.94rem;
}

.contact_email{
   flex: 1;
   padding-left: 0.94rem;
}

.contact_botton{
    margin-top: 30px;
}

@media only screen and (max-width:992px){
    .box{
        flex-direction: column;
    }

    .first_name{
        padding-right: 0;
    }
    
    .contact_email{
        padding-left: 0;
    }
}